# Temporary files and binaries
temp**
**.o
**.exe

# Testing files
test**.**
is_it_ok.sh
testdir/**

# Tools and utils
vhdl-tool**
options
licence**

# Other
**-private**
**.odt
**.zip
**.tar.gz
**x???????**

docker-compose.yml
geckodriver.log
1/README.pdf
2/venv
2/get_driver.py
2/run-test.sh
**.pyc
